.questions{
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-size: large;
}

body{
    background-image: linear-gradient(pink,hotpink);
}

.answers{
    text-align: center;
    margin: auto;
}